body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #212121;
}

.main {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 50em;
  width: 50em;
  border: 2px solid white;
  justify-content: center;
  align-items: center;
  padding: 5em;
}

.staff-hide-overflow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 45em;
  height: 45em;
  border: 2px solid black;
  overflow: hidden;
}

.staff-container {
  position: absolute;
  border: 2px solid rgb(69, 182, 69);
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  overflow: hidden;
}

.square {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 5em;
  /* background: grey;
  border: 2px solid lightgray; */
  height: 5em;
  box-sizing: border-box; /* Ensure the total size includes the border */
}

.dot {
  position: relative;
  background-color: rgb(108, 102, 25);
  color: black;
  border-radius: 50%;
  height: 1em;
  width: 1em;
  cursor: pointer;
  z-index: 5;
}

.dot p {
  position: absolute;
  top: 1em;
  left: 0.2em;
  color: rgb(233, 233, 233);
}

/* Horizontal line styling */
.horizontal-line {
  position: absolute;
  height: 0.1em; /* Line thickness */
  width: 5em;
  background-color: rgb(176, 174, 174);
}

/* Vertical line styling */
.vertical-line {
  position: absolute;
  height: 5em; /* Line thickness */
  width: 0.1em;
  background-color: rgb(53, 53, 53);
}

.dot:hover {
  background-color: red;
}

.white-line {
  background-color: white;
}

.invisible {
  display: none;
}
